html {
  font-family: $siteFont;
}

body {
  text-rendering: optimizeLegibility;
  font-family: $siteFont;
  color: $gray;
}

img {
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.c-card__attribution__link {
  transition: all .24s ease-in-out;
  &:hover {
    color: $gray;
    transition: all .24s ease-in-out;
  }
}
.u-underline-link, .c-card__attribution__link, .c-author-card__content a {
  transition: all .24s ease-in-out;
  &:hover {
    &:after {
      background: $gray;
      transition: all .24s ease-in-out;
    }
  }
}