.c-image-gallery {
    display: flex;
    //justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

  > a {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%;

    &:nth-child(3n) {
      margin-right:0;
    }
  }
}