.c-mobile-navigation {
  background: $gray;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;
  width: 320px;
  box-sizing: border-box;
  padding: 80px 32px;
  overflow: scroll;
  transition: .2s linear;
  transform: translateX(320px);

  .js-disabled-nav-link > a {
    cursor: default;
    &:hover {
      color: #fff;
    }
  }

  li {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(#ecf0f1, .1);
    a {
      display: block;
      margin-bottom:  6px;
      text-transform: uppercase;
      font: 700 16px/24px $roboto--slab;
      color: #fff;
      transition: all .24s ease-in-out;

      &:hover {
        color: $orange;
        transition: all .24s ease-in-out;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    span {
      color: #cacaca;
      display: block;
      margin-bottom:  6px;
      font: 300 16px/24px $siteFont;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .sub-menu,
    .children {

      li {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      a {
        font: 300 16px/24px $siteFont;
        text-transform: none;
        margin-bottom: 6px;
      }
    }
  }

  &.is-open {
    transition: .2s linear;
    transform: translateX(0);
  }
}