.c-btn {
  display: inline-block;
  border-radius: 8px;
  border-width: 4px;
  border-style: solid;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 2px;
  font: 700 16px/1 $siteFont;
  padding: 18px 28px;

  &--white {
    color: $white;
    border-color: $white;
  }

  &--orange {
    color: $orange;
    border-color: $orange;
  }

  &--full-width {
    width: 100%;
  }
}