.c-instructor-mini-card {
  display: flex;
}

.c-instructor-mini-card__headshot {
  width: 144px;
  margin-right: 25px;
  img {
    border-radius: 50%;
  }
}

.c-instructor-mini-card__name {
  margin-bottom: 2px;
  a {
    transition: .2s linear;
    &:hover {
      color: $orange;
      transition: .2s linear;
    }
  }
}

.c-instructor-mini-card__deatils {
  flex:1;
}

.c-instructor-mini-card__title {
  font: 700 16px/1.5 $siteFont;
}