.c-hero {
  min-height: 700px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 248px 0 120px;
  margin-bottom: 8px;

  &:after {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &--orange {
    background: rgba($orange, .4);
  }
}
