.c-hero {
  min-height: 700px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 248px 0 120px;
  margin-bottom: 8px;
  background-size: cover;
  overflow: hidden;
  background-position: center center;

  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &--orange {
    &:after {
      background: rgba($orange, .4);
    }

  }

  &--gray {
    &:after {
      background: rgba($gray, .4);
    }
  }

  .tns-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.c-hero__content {
  position: relative;
  z-index: 3;
}

.c-hero__offset-content {
  position: relative;
  z-index: 3;
  padding-top: 22px;

  color: $white;
  font: 24px/1.33 $siteFont;

  h2 {
    margin-bottom: 20px;
  }

  @media #{$medium} {
    padding-top: 44px;
    padding-left: 44%;
  }
}

.c-hero__offset-content__divider {
  margin-bottom: 20px;
}

.c-hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 702px;
}

.c-hero__slider__image {
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
  max-height: 702px;
  transition-duration: .9s !important;
}