.l-pull-up-content-container {
  @media #{$medium} {
    margin-bottom: -328px;
  }
}

.l-pull-up-content {
  position: relative;
  top: -128px;
  z-index: 5;
  margin-bottom: -50px;

  &--aside {
    margin-bottom: -140px;
  }

  @media #{$large} {
    top: -448px;

    &--aside {
      margin-bottom: -140px;
    }
  }
}