.l-program-content {
  @media #{$medium} {
    display: flex;
    justify-content: space-between;
  }
}

.l-program-content__secondary {
  @media #{$medium} {
    width: 38%;
  }
}

.l-program-content__main {
  height: 0;
  overflow: hidden;
  transition: .2s linear;
  @extend .u-std-font-size;


  &.is-open {
    padding-top: 28px;
    height: auto;
    padding-bottom: 110px;
  }

  @media #{$medium} {
    width: 56%;
    height: auto;
    padding-top: 67px;
    padding-bottom: 110px;
  }
}

