.l-registration-container {
  @media #{$large} {
    display: flex;
    justify-content: space-between;
  }
}

.l-registration-container__intro {
  margin-bottom: 55px;
  @media #{$large} {
    width: 35%;
    margin-bottom: 0;
  }
}

.l-registration-container__form {

  @media #{$large} {
    width: 55%;
  }
}