.l-program-content {
  @media #{$large} {
    display: flex;
    justify-content: space-between;
  }
}

.l-program-content__secondary {
  @media #{$large} {
    width: 38%;
  }
}

.l-program-content__main {
  padding-top: 28px;
  padding-bottom: 56px;
  transition: .2s linear;
  @extend .u-std-font-size;


  @media #{$large} {
    width: 56%;
    height: auto;
    padding-top: 67px;
    padding-bottom: 110px;
  }
}

