.l-site-wrapper {
  position: relative;
  transition: .2s linear;

  &.is-open {
    transform: translateX(-280px);
  }
}

.l-content-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  position: relative;
  @media #{$large} {
    width: 85%;
  }
}