.l-site-wrapper {
  position: relative;
  transition: .24s linear;

  &.is-open {
    transform: translateX(-320px);
    transition: .24s linear;
  }
}

.l-content-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 88%;
  position: relative;
}