

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}


.mr-bs-auto {
  margin-right: auto;

  @media #{$small} {
    margin-right: 0;
  }
}

.ml-bs-auto {
  margin-left: auto;

  @media #{$small} {
    margin-left: 0;
  }
}

.l-grid-std-mb {
  margin-bottom: 16px;
}

.ml-bm-auto {
  margin-left: auto;

  @media #{$medium} {
    margin-left: 0;
  }
}

.mr-bm-auto {
  margin-right: auto;

  @media #{$medium} {
    margin-right: 0;
  }
}



@media #{$small} {
  .ml-sm-auto {
    margin-left: auto !important;
  }
  .mr-sm-auto {
    margin-right: auto !important;
  }
}

@media #{$medium} {
  .ml-md-auto {
    margin-left: auto !important;
  }
  .mr-md-auto {
    margin-right: auto !important;
  }
}
