$small:  "screen and (min-width : 560px)";
$medium:  "screen and (min-width : 880px)";
$med-lrg: "screen and (min-width : 1000px)";
$large: "screen and (min-width : 1080px)";
$xl: "screen and (min-width : 1200px)";