//fonts
$siteFont: 'Arial';


//Media Queries
$small:  "screen and (min-width : 576px)";
$medium:  "screen and (min-width : 768px)";
$large: "screen and (min-width : 992px)";
$xl: "screen and (min-width : 1200px)";

//Misc
$border-radius: 3px;