.u-circle {
  border-radius: 50%;
}

.u-hide\@med {
  @media #{$medium} {
    display: none;
  }
}

.u-hide-below-med {
  display: none;

  @media #{$medium} {
    display: block;
    
    &--grid {
      display: grid;
    }
    &--flex {
      display: flex;
    }
  }
}

.alignLeft {
  float: left;
  margin: 0 30px 22px 0;
}

.u-underline-link {
  color: $orange;
  font: 700 16px/1 $siteFont;
  position: relative;

  &:after {
    content: '';
    height: 2px;
    width: 100%;
    background: $orange;
    position: absolute;
    left: 0;
    bottom: -6px;
  }
}

.u-body-copy {
  img {
    margin-top: 8px;
    border-radius: 50%;
    margin-right: 24px;
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  h2 {
    margin-bottom: 56px;
  }
  p:not(:last-child),
  ul:not(:last-child),
  ol:not(:last-child) {
    margin-bottom: 22px;
  }

  ul {
    li {
      position: relative;

      &:before {
        content: '•';
        color: $orange;
        position: absolute;
        left: -18px;
        top: 2px;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  a {
    color: $orange;
    &:hover {
      color: $gray;
    }
  }
}


/*---------------
 Font
 --------------*/
.u-std-font-size {
  font: 300 16px/1.5 $roboto;

  &--reg {
    font-weight: 400;
  }

  @media #{$medium} {
    font-size: 24px;
  }
}

.u-lrg-font-size {
  font: 300 24px/1.5 $roboto;

  @media #{$large} {
    font-size: 32px;
  }
}

.u-text--white {
  color: $white;
}

.u-text--orange {
  color: $orange;
}


/*---------------
 Backgrounds
 --------------*/
.u-bg--gray {
  background-color: $gray;
}

.u-bg--gray--light {
  background-color: $gray--light;
}





